/* Search */
.search_title {
  font-weight: bolder;
  margin: 0 0 0 auto;
}
#form_search {
  position:relative;/*フォームの相対位置*/
  margin: 0 0 0 auto;
  max-width:270px;/*フォームのサイズ*/
}

/*検索ボックス*/
.search_box {
  position:relative;/*フォームの絶対位置*/	
  outline:0;/*クリック時の青い枠線消す*/
  height:30px;/*検索ボックスの高さ*/	
  padding:0 10px;/*テキスト位置調整*/	 
  border-radius:2px 0 0 2px;/*検索ボックスの角を丸める*/		
}

/*検索ボタン*/
.search_btn {
  width:50px;/*検索ボタンの横幅*/ 
  height:30px;/*検索ボタンの縦幅*/ 
  position:absolute;/*検索ボタンの絶対位置*/  
  left:270px;/*検索ボタンの位置調整*/  
  top:26px;
  border-radius:0 2px 2px 0;/*検索ボタンの角を丸める*/ 
  border:none;/*検索ボタンの枠線を消す*/ 
}

/*リストの点を消す*/
.delete-marker-fix {
    list-style: none;
    padding-left: 0;
}
.delete-marker-fix li {
    margin-left: 0;
}

/*インポートボタン*/
#form_import {
  position:relative;/*フォームの相対位置*/
  max-width:270px;/*フォームのサイズ*/
  
  /*インポートボタン*/
  .import_btn {
    width:300px;/*インポートボタンの横幅*/ 
    height:30px;/*インポートボタンの縦幅*/ 
    border-radius:0 2px 2px 0;/*インポートボタンの角を丸める*/ 
    border:none;/*インポートボタンの枠線を消す*/ 
    padding: 10 10 10 10;
  }
  
  .clear_btn {
    position:relative;
    width:150px;
    top:50;
    left:50;
  }
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

.btn-file input[readonly] {
  /*background-color: white !important;
  cursor: text !important;*/
}
